!!!doctype
html
  head
    title Hello
    link(src="../stylesheets/app.css", type="text/css")


  body
    h1 First page

    hr

    include ../modules/module1

    script(type="text/javascript", src="../javascripts/app.js")
