html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



#slideshow{
  position: relative;
  margin:0 auto;
  //width:540px;
  
}

#slideshow #slides-container{
  position: relative;
  //height: 300px;
  overflow: auto;
  
}

.control {
  display:block;
  width:50px;
  height:60px;
  //text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index: 10000;
  background-color:#555555;
  border-radius: 3px;
}
#leftControl {
  
  position:absolute;
  top:20px;
  left:10px;
  visibility: hidden;
  background-image: url('../images/orangeleft.png');
  background-position:center; 
  background-repeat:no-repeat;
}
#rightControl {
  
  position: absolute;
  top:20px;
  right:10px;
  visibility: hidden;
  background-image: url('../images/orangeright.png');
  background-position:center; 
  background-repeat:no-repeat;
   
}

 #dots{
  overflow: auto;
  
 }

#circle {
    float:left;
    width: 15px;
    height:15px;
   // padding-bottom: 50%;
    -moz-border-radius: 50%; 
    -webkit-border-radius: 50%; 
    border-radius: 50%;
    border:solid 2px gray;
    background-color: #dcdcdc; 
    list-style:none;margin-left:5px;
}

.activeCircle{
  background-color: red !important;

}

li{
  background-color: #bcbcbc;
  
}