script(type="text/javascript", src="https://code.jquery.com/jquery-1.10.2.min.js")

div#slideshow
	div#slidesContainer
		ul
			li.slide First
			li.slide Second
			li.slide Third
			li.slide Fourth
		
