script(type="text/javascript", src="https://code.jquery.com/jquery-1.10.2.min.js")

div#slideshow
	div#slides-container
		ul
			li.slides First
			li.slides Second
			li.slides Third
			li.slides Fourth
			li.slides Fifth
			li.slides Sixth
		
