html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
  display: block;
}
body {
  line-height: 1;
}
ol, ul {
  list-style: none;
}
blockquote, q {
  quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}



#slideshow{
  position: relative;
  margin:0 auto;
  //width:540px;
  
}

#slideshow #slides-container{
  position: relative;
  //height: 300px;
  overflow: auto;
  
}

.control {
  display:block;
  width:50px;
  height:60px;
  //text-indent:-10000px;
  position:absolute;
  cursor: pointer;
  z-index: 10000;
  background-color:#bcbcbc;
  border-radius: 3px;
}
#leftControl {
  
  position:absolute;
  top:20px;
  left:5px;
  visibility: hidden;
  background-image: url('../images/leftaerrow.png');
  background-position:center; 
  background-repeat:no-repeat;
}
#rightControl {
  
  position: absolute;
  top:20px;
  right:5px;
  visibility: hidden;
  background-image: url('../images/rightaerrow.png');
  background-position:center; 
  background-repeat:no-repeat;
   
}
li{
  background-color: #3c3c3c;
  
}